.custom-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-padding: 10;
}

.custom-button:hover {
    -fx-background-color: linear-gradient(to top right, #090906, #350d35);
    -fx-text-fill: white;
    -fx-cursor: hand;
}