/* Hover Effect */
.minus_btn:hover {
    -fx-background-color: red; /* Soft pink to blue gradient */
    -fx-text-fill: #ffffff; /* Switch text to white for better contrast */
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 4);
}

/* Pressed Effect */
.minus_btn:pressed {
    -fx-background-color: #350d35; /* Solid pink when pressed */
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}

/* Hover Effect */
.add_btn:hover {
    -fx-background-color: green; /* Soft pink to blue gradient */
    -fx-text-fill: #ffffff; /* Switch text to white for better contrast */
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 4);
}

/* Pressed Effect */
.add_btn:pressed {
    -fx-background-color: #350d35; /* Solid pink when pressed */
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}


.table-view
{
    -fx-background-color:#fff;
    -fx-background-radius:10px;
    -fx-border-color:white;
    -fx-border-radius:10px;
}

.table-view .column-header-background
{
    -fx-background-color: linear-gradient(to top right, #73567a, #571657);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10px 10px 0px 0px;
}
.table-view .column-header, .table-view .filter{
    -fx-background-color: transparent;
    -fx-size:50px;
    -fx-fill: #070707;
}
