/* Ana Arka Plan */
.root {
    -fx-background-color: linear-gradient(to top right, #571657 60%, #000000 100%); /* Siyah geçiş */
}

.title-label {
    -fx-background-color: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000; /* Yeşil */
    -fx-border-color: #000000;
}

.text-field {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 12px;
}

.text-field:hover{
    -fx-background-color: linear-gradient(to top right, #571657 60%, #000000 100%);
}

.custom-button {
    -fx-background-color: black;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

/* Düğme Hover Efekti */
.custom-button:hover {
    -fx-background-color: linear-gradient(to right, #5a155a, #000000); /* Yeşil arka plan */
    -fx-text-fill: #ffffff; /* Siyah yazı */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0); /* Gölge efekti */
}

/* Menü Butonu */
.menu-button {
    -fx-background-color: black;
    -fx-text-fill: #ffffff; /* Yeşil yazı */
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #5a155a, #000000);; /* Yeşil arka plan */
    -fx-text-fill: #ffffff;
}

/* TableView Stili */
.table-view {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
}

.table-column-header {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
